*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* IMG sizing */
img {
    height: 300px;
    width: 300px;
}
/* GAME NAME */
.gameName {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 110px;
    padding-top: 50px;
}
h1 {
    width: 100%;
    height: 50%;
    text-align: center;
}
/* Simulator Screen */
/* .gameSimulator{
    background-image: url('https://thumbs.gfycat.com/SillyRedAuklet-max-1mb.gif');
} */
/* top screen */
.healthScreen {
    border: solid purple;
    height: 100px;
    width: 100%;
    padding: 30px 10px 0 10px;
    display: flex;
    justify-content: space-evenly;
}
.playerHealth {
    border: solid, lime;
    background-color: lime;
    height: 50px;
    width: 30%;
}
.alienHealth {
    border: solid, lime;
    background-color: lime;
    height: 50px;
    width: 30%;
}
.roundCount {
    border: solid orange;
    height: 65px;
    width: 10%;
    color: #fff;
}
/*main game screen*/
.gameScreen {
    border: 2px solid red;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}
.playerShip{
    border: solid royalblue;
    width: 300px;
    height: 200px;
    margin-top: 60px;
}
.alienShip{
    border: solid royalblue;
    width: 300px;
    height: 200px;
    margin-top: 90px;
}
.controls {
    background-color: #000;
    width: 100%;
    height: 50vh;
    padding: 50px 80px 0 80px;
    display: flex;
    justify-content: space-between;
}
button {
    border: 1px solid orangered;
    height: 60px;
    width: 150px;
}

/* ships not on screen - only press start to play*/
.pressStart {
    border: solid #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startTitle {
    /* border: solid salmon; */
    width: 50%;
    color: white;
    letter-spacing: .2em;
    font-size: 50px;
    margin-top: 100px;
}
.pressStartGone {
    display: none;
}
.playerShip{
    display: none;
}
.alienShip{
    display: none;
}
.ussAssembly{
    display: block;
}
.ussAlien {
    display: block;
}

/* sttyling:
look like an old arcade game
add padding around
change styling

*/